@mixin account-page-theme($theme) {
  $background: map-get($theme, 'background');
  $primary: map-get($theme, primary);

  .accounts-page {
    .account-page-acount-overview {
      background-color: mat-color($primary, default, 0.1);
    }
    .acount-page-all-acount-text {
      color: mat-color($primary)
    }
  }
}
