@use 'sass:map';
@use '~@finastra/angular-theme/lib/core/theming/palette' as palette;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);


  .account-transaction-list {
    .account-transaction-list-headline {
        background-color: palette.get-color-from-palette($primary, 'lighter', 0.2);
        color: palette.get-color-from-palette($primary);
    }
  }
}
