@use 'sass:map';
@use '~@finastra/angular-theme/lib/core/theming/palette' as palette;
@use '~@angular/material' as mat;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .account-detail-page {
    .acount-detail-page-overview {
     // background-color: mat-color($primary);
      .acount-detail-page-overview-account-text {
        color: palette.get-color-from-palette($primary, default, 0.8);
      }
      color: mat.contrast($primary, A100);
    }
    .round-icon {
      background-color: palette.get-color-from-palette($primary, default, 0.7);
    }
    .mat-stroked-button:not([disabled]) {
      border-color: palette.get-color-from-palette($primary, default, 0.8);
    }
  }
}
