<div class="home-page-welcome">
  <div class="uxg-display-6">Welcome</div>
  <div class="uxg-h3">John Doe</div>
</div>
<div class="home-page-product-list">
  <div class="home-page-product-item">
    <mat-card class="uxg-card-product clickable" (click)="goToAccountsPage()">
      <span class="uxg-h3 uxg-card-product-name">Ac</span>
    </mat-card>
    <div class="uxg-subtitle-1 home-page-product-item-label">Account</div>
  </div>
  <div class="home-page-product-item">
    <mat-card class="uxg-card-product clickable">
      <span class="uxg-h3 uxg-card-product-name">L</span>
    </mat-card>
    <div class="uxg-subtitle-1 home-page-product-item-label">Loans</div>
  </div>
  <div class="home-page-product-item">
    <mat-card class="uxg-card-product clickable">
      <span class="uxg-h3 uxg-card-product-name">An</span>
    </mat-card>
    <div class="uxg-subtitle-1 home-page-product-item-label">Analytics</div>
  </div>
</div>
