<mat-toolbar *ngIf="donationsBanner.enabled">
  <mat-toolbar-row fxLayout fxLayout.lt-md="column" class="donations-banner-row">
    <div fxHide.lt-md>
      <div class="icon-wrapper" fxLayoutAlign="center center">
        <mat-icon *ngIf="donationsBanner.content.icon" id="donations-icon" color="accent" dense> {{donationsBanner.content.icon}}</mat-icon>
      </div>
    </div>
    <div
      class="text-div"
      fxLayoutAlign="center center"
      fxLayout.lt-md="column"
      fxLayoutAlign.lt-md="center start"
      fxLayoutFill
    >
      <span class="title mr-2" *ngIf="donationsBanner.content.title">{{ donationsBanner.content.title }}</span>

      <div fxFlex class="announcement-paragraph" [innerHTML]="donationsBanner.content.announcement"></div>
    </div>
    <div fxFlex fxLayoutAlign="flex-start" class="buttons-div" fxLayoutAlign.lt-md="start center">
      <button mat-flat-button class="dismiss-button" (click)="onDismiss()" color="accent">
        {{ donationsBanner.content.dismissButtonText }}
      </button>

      <a mat-flat-button routerLink="/donations" (click)="onAction()" color="primary">
        {{ donationsBanner.content.actionButtonText }}
      </a>
    </div>

    <div fxFlex fxHide.lt-md fxLayoutAlign="flex-end">
      <button  class="close-button" (click)="onDismiss()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
