@use 'sass:map';
@use '~@finastra/angular-theme/lib/core/theming/palette' as palette;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .round-icon {
    background-color: palette.get-color-from-palette($primary, 'default', 0.1)
  }
}
