@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .round-icon {
    background-color: mat-color($primary, 'default', 0.1)
  }
}
