<h4 class="code-line" data-line-start=0 data-line-end=1><a id="How_it_works_0"></a>How it works</h4>
<p class="has-line-data" data-line-start="1" data-line-end="2">Your client received an access token from the Authorization Server after succesfully authenticated using the HTTP Basic authentication scheme, with the <code>client_id</code> and <code>client_secret</code> of your FusionCreator application.</p>
<p class="has-line-data" data-line-start="3" data-line-end="4">To find out more about the Client Credentials Grant, see RFC6749, <a href="https://tools.ietf.org/html/rfc6749#section-1.3.4">section 1.3.4</a> and <a href="https://tools.ietf.org/html/rfc6749#section-4.4">section 4.4</a>.</p>
<p class="has-line-data" data-line-start="5" data-line-end="6">This sample is using the  <code>IdentityModel</code> open source library and <code>IdentityModel.AspNetCore</code> specific helper library for token management in <a href="http://ASP.NET">ASP.NET</a> Core. For more details, such as the Nuget and GitHub repositories, see the <a href="https://identitymodel.readthedocs.io/en/latest/#identitymodel">project documentation</a>.</p>
<hr>
<h4 class="code-line" data-line-start=8 data-line-end=9><a id="Application_configuration_8"></a>Application configuration</h4>
<pre><code>`ClientAuthenticationMethod`: **`client_secret`**.
</code></pre>
<hr>
<h5 class="code-line" data-line-start=13 data-line-end=14><a id="Services_registration_13"></a>Services registration</h5>
<pre><code class="has-line-data" data-line-start="16" data-line-end="34">// Startup.cs
public void ConfigureServices(IServiceCollection services)
{
...
services.AddAccessTokenManagement(o =&gt;
{
...
    o.Client.Clients.Add(&quot;finastra_login_service&quot;, new ClientCredentialsTokenRequest
    {
        Address = finastraConfiguration.Oauth2Configuration.TokenEndpoint,
        ClientId = finastraConfiguration.Oauth2Configuration.B2B.ClientId,
        ClientSecret = finastraConfiguration.Oauth2Configuration.B2B.ClientSecret
    });
...
}
...
}
</code></pre>
<p class="has-line-data" data-line-start="35" data-line-end="36"><code>TokenEndpoint</code>, <code>ClientId</code>, and <code>ClientSecret</code> are retrieved from configuration - <code>FinastraConfiguration</code>.</p>
<hr>
<h5 class="code-line" data-line-start=38 data-line-end=39><a id="Important_configuration_items_38"></a>Important configuration items</h5>
<ul>
	<li class="has-line-data" data-line-start="40" data-line-end="41"><code>TokenEndpoint</code>:  Provided by the <a href="https://developer.fusionfabric.cloud/documentation/oauth2-grants#discovery-service">Discovery service</a>.</li>
	<li class="has-line-data" data-line-start="41" data-line-end="43"><code>ClientId</code> and <code>ClientSecret</code>: See <a href="https://developer.fusionfabric.cloud/documentation/creator-apps#appdetails">application details</a>.</li>
</ul>
<hr>
<h4 class="code-line" data-line-start=44 data-line-end=45><a id="Highlights_44"></a>Highlights</h4>
<ul>
	<li class="has-line-data" data-line-start="46" data-line-end="47">Token retrieval is transparent for API user. Delegating <code>ClientAccessTokenHandler</code> handler attached via <code>.AddClientAccessTokenHandler();</code> contacts Authority Token endpoint, authenticates using <code>clientId</code>, <code>ClientSecret</code>, retrieves and provides access token.</li>
	<li class="has-line-data" data-line-start="47" data-line-end="48">Access token retrieved by <code>ClientAccessTokenHandler</code> is saved in token cache with handling of token expiration and renewal.</li>
	<li class="has-line-data" data-line-start="48" data-line-end="49">Frameworks to add additional features like resilience and transient-fault-handling, such as <a href="https://github.com/App-vNext/Polly">Polly</a>, can be attached in the configuration section and will not require any change in other parts of code.</li>
</ul>