@use 'sass:map';
@use '~@finastra/angular-theme/lib/core/theming/palette' as palette;
@use '~@angular/material' as mat;

@mixin theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .app-layout {
    .app-layout-navbar {
      background: palette.get-color-from-palette($background, app-bar);
    }

    .action-menu-panel {
      @include mat.elevation(4);
    }
  }

}

