@mixin app-layout-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  .app-layout {
    .navbar-home-logo {
     // background: center / contain no-repeat url(map-get($foreground, logo));
    }

    .app-layout-navbar {
      background: mat-color($background, app-bar);
    }

    .action-menu-panel {
      @include mat-elevation(4);
    }
  }

}

