@import '~@angular/material/theming';


$uxg-logo-width: 122px;
$uxg-logo-height: 60px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.app-layout {
  flex: 1;
  position: relative;
  display: flex;

  .app-layout-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
  }
  .app-layout-navbar:not(.app-layout-navbar--sidenav) {
    padding-left: 16px;
  }
  .app-layout-navbar--sidenav {
    padding-left: 56px;
  }

  .app-layout-navbar:not(.app-layout-navbar--outlined) {
    @include mat-elevation(4);
  }

  mat-sidenav {
    z-index: 101;
  }

  .app-layout-toggle-menu-btn {
    position: fixed;
    top: 8px;
    left: 8px;
    z-index: 102;
  }

  .app-layout-sidenav-container {
    height: 100%;
    width: 100%
  }

  .app-layout-content {
    display: flex;
    flex: 1;
    padding-top: 60px;
    min-height: calc(100vh - 61px);
  }

  .navbar-home-logo:not(.navbar-home-logo--dense) {
    width: $uxg-logo-width;
    min-width: $uxg-logo-width;
    height: $uxg-logo-height;
    margin-top: 32px;
    margin-left: 64px;
  }

  .navbar-home-logo--dense {
    width: $uxg-logo-width / 2;
    min-width: $uxg-logo-width / 2;
    height: $uxg-logo-height / 2;
  }
}




