<ng-container *ngIf="sidenavContent; else navbar" hasBackdrop="true">
  <mat-sidenav-container class="uxg-nav app-layout-sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <ng-template [cdkPortalOutlet]="sidenavContent.content"></ng-template>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-container *ngTemplateOutlet="navbar"></ng-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #navbar>
  <ng-container *ngIf="navbarContent; else content">
    <button *ngIf="sidenavContent" class="app-layout-toggle-menu-btn" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
    <div class="app-layout-navbar" [ngClass]="{'app-layout-navbar--outlined': navbarContent.outlined, 'app-layout-navbar--sidenav': sidenavContent}">
      <ng-template [cdkPortalOutlet]="navbarContent.content"></ng-template>
    </div>
  </div>
    <div class="app-layout-content">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
